body {
    background-color: #171a23;
}

main {
    margin-top: 1rem;
}

.navbar {
    background-color: #1b2440;
}

.navbar-brand {
    color: #efeff4;
}

.image-wrapper {
    text-align: center;
}

.carousel {
    background-color: #2a3556;
}

.card {
    margin: 0.5rem;
}

.item-card {
    background-color: #1b2440;
    color: #efeff4;
}

.list-group-item {
    background-color: #1b2440;
}

.item-amount {
    background-color: #2a3556;
    color: #efeff4;
}

.item-img {
    height: 160px;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 10px;
}

.qr-img {
    height: 160px;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 10px;
}